@model CRM.Areas.User.Models.LoginModel
@{
    ViewBag.Title = "eCustomer | Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>eCustomer | Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Theme/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Theme/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/Theme/dist/css/Gradient.css" rel="stylesheet" />
    @*<link rel="shortcut icon" href="~/Images/Logo.svg" />*@
    <style>
        .image-div {
            /*background-image: url(/Images/bg11.jpg);
            background-size: cover;*/
            /*background: linear-gradient( 168.1deg,#9600FF,#AEBAF8);*/
        }

        .validation-summary-errors {
            color: #1f2d3d;
            background: #ffc107;
            border-color: #edb100;
        }
    </style>
</head>
<body class="hold-transition login-page image-div">
    <div id="pluswrap" style="display:none">
        <div class="plus">
            <div class="loading">
                <img src="~/Images/Double Ring-1s-72px.gif" />
            </div>
        </div>
    </div>
    <section class="vh-100" style="width:100%;background-color:white">
        <div class="container-fluid h-custom" style="margin-top:3%;">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <input type="hidden" value="Login" id="hdnPageLoadOption" />
                


                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    @*<div class="login-logo">
                            <img src="~/Images/Logo.svg" class="image-responsive" style="margin-bottom: 0px !important;margin-top:15px;height:100px" />
                        </div>*@
                    <div class="login-logo">
                        <b>e</b>Customer
                    </div>
                    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.UserName, new { Class = "form-control", placeholder = "Login ID", required = "required" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.PasswordFor(m => m.Password, new { Class = "form-control input-md", placeholder = "Password", required = "required" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                @*<div class="icheck-secondary">
                                    <input type="checkbox" id="remember">
                                    <label for="remember">
                                        Remember Me
                                    </label>
                                </div>*@
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn Gradientbutton btn-block"><i class="fas fa-sign-out-alt"></i>Sign In</button>

                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 fixed-bottom" style="background: linear-gradient(to right,#4b205a, #BA55D3)">

            <div class="text-white mb-3 mb-md-0">
                <strong>Copyright &copy; @DateTime.Now.Year</strong> All rights
            </div>

            <div>
                @*<a href="#!" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#!" class="text-white">
                        <i class="fab fa-linkedin-in"></i>
                    </a>*@
                <div class="float-right d-none d-sm-block text-white">
                    Powered By <b><a href="" style="color:white">Shulyn Technologies</a></b>
                </div>
            </div>
        </div>
    </section>
    @*<div class="login-box">
            <input type="hidden" value="Login" id="hdnPageLoadOption" />
            <input id="hdnCompanyMaster" type="hidden" value="@ViewBag.CompanyList" />

            <div class="login-logo">
                <img src="~/Images/Logo.svg" class="image-responsive" style="margin-bottom: 0px !important;margin-top:15px;height:100px" />
            </div>
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Sign in to start your session</p>

                    @{
                        if (ViewBag.Message != null & ViewBag.Message != "")
                        {
                            <div class="alert-warning center" style="margin-bottom: 10px; padding:10px;">
                                @ViewBag.Message
                            </div>
                        }
                    }
                    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="input-group mb-3">
                            @Html.DropDownListFor(m => m.Company, new SelectList(new List<SelectListItem> {
                   new SelectListItem { Text = "Select", Value = "0"},
                   }, "Value", "Text"),
                   "Select", new { @class = "form-control required" ,id= "ddlCompany" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-building"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.UserName, new { Class = "form-control", placeholder = "Login ID" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.PasswordFor(m => m.Password, new { Class = "form-control input-md", placeholder = "Password" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-secondary">
                                    <input type="checkbox" id="remember">
                                    <label for="remember">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn GradientAddbutton btn-block"><i class="fas fa-sign-out-alt"></i>Sign In</button>

                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>*@
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Theme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Theme/dist/js/adminlte.min.js"></script>
    <script src="~/Scripts/PageScripts/Login.js"></script>
    <script>
        function HideProgress() {
            $("#pluswrap").hide();
        }
        function ShowProgress() {
            $("#pluswrap").show();
        }

    </script>
</body>
</html>
