@{
    ViewBag.Title = "Welcome";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}
<div class="jumotran">
    @{
        if (@ViewBag.error != null)
        {
            <div class="alert alert-danger" role="alert" id="divalert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>
                @ViewBag.error
            </div>
        }
        else
        {
            <div class="alert alert-danger hide" role="alert" id="divalertfade">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="false"></span><span class="sr-only">Error:</span>
                @ViewBag.error
            </div>
        }
    }
    <!--<div class="panel-heading text-center">
        <h4> Welcome to CRM</h4>
    </div>

    <div class="panel-body text-center">
        <h3>Customer Relationship Management</h3>

    </div>-->
    <!--New ticket code-->
    @*<h3 style="font-weight:600;">Dashboard</h3>*@
    <!-- page content -->
    
        <div class="row">
            <div class="col-md-12">
                <div class="main-page-title">
                    <h1>Dashboard</h1>
                    <p>Welcome to Boutiqaat CRM Admin Panel</p>
                </div>
            </div>            
        </div>
        <div class="">
            <div id="ticketInfo">
                <div class="row top_tiles" style="margin-top:20px;">
                    @if (ViewBag.UserPermissionDetails != null)
                    {
                        var indexlist = (Dictionary<string, string>)ViewBag.UserPermissionDetails;
                        if (indexlist.ContainsKey("OrderAssignment"))
                        {
                            <a href="/OrderManagement/OrderAssignment" target="_self">
                                @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="card pull-up">
                                            <div class="card-body">
                                                <h5 class="card-title">Pending Order Assignment</h5>
                                                <div class="text-right">
                                                    <h2 style="color: #e64552;">@ViewBag.Count.OrderAssignmentCount</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="tile-stats">
                                        <div class="icon-wrapper blue">
                                            <div class="icon"><i class="fas fa-file-invoice"></i></div>
                                        </div>
                                        <div class="count-wrapper">
                                            <div class="count blue">@ViewBag.Count.OrderAssignmentCount</div>
                                            <h3>Pending Order Assignment</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        }
                        if (indexlist.ContainsKey("UserOrderAssignment"))
                        {
                            <a href="/OrderManagement/UserOrderAssignment" target="_self">
                                @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="card pull-up">
                                        <div class="card-body">
                                            <h5 class="card-title">Pending Order Confirmation</h5>
                                            <div class="text-right">
                                                <h2 style="color: #5db8f5;">@ViewBag.Count.UserOrderAssignmentCount</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="tile-stats">
                                        <div class="icon-wrapper pink">
                                            <div class="icon"><i class="fas fa-receipt"></i></div>
                                        </div>
                                        <div class="count-wrapper">
                                            <div class="count pink">@ViewBag.Count.UserOrderAssignmentCount</div>
                                            <h3>Pending Order Confirmation</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                        if (indexlist.ContainsKey("AssignedTickets"))
                        {

                            <a href="/TicketManagement/AssignedTickets" target="_self">
                                @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="card pull-up">
                                        <div class="card-body">
                                            <h5 class="card-title">Pending Ticket</h5>
                                            <div class="text-right">
                                                <h2 style="color: #eb8d22;">@ViewBag.Count.AssignedTicketsCount</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="tile-stats">
                                        <div class="icon-wrapper purple">
                                            <div class="icon"><i class="fas fa-ticket-alt"></i></div>
                                        </div>
                                        <div class="count-wrapper">
                                            <div class="count purple">@ViewBag.Count.AssignedTicketsCount</div>
                                            <h3>Pending Ticket</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }

                            <a href="#" target="_blank">
                                @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="card pull-up">
                                        <div class="card-body">
                                            <h5 class="card-title">Pending Notification</h5>
                                            <div class="text-right">
                                                <h2 style="color: #64cda1;">0</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="tile-stats">
                                        <div class="icon-wrapper green">
                                            <div class="icon"><i class="fas fa-bell"></i></div>
                                        </div>
                                        <div class="count-wrapper">
                                            <div class="count green">0</div>
                                            <h3>Pending Notification</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                    }
                </div>
            </div>
            <!--New ticket code-->
        </div>
   
</div>